<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TO-DO-LIST</title>
</head>

<body>
    <h1>Bienvenu à toi sur notre to-do-list </h1>

    <form action="/addTask" method="post">
        <label for="msg">Ajouter une tâche :</label>
        <br>
        <input type="text" name="task" id="task">
        <input type="submit" value="Valider">
    </form>

    {% for data in result %}    
    <form action="/delTask" method="post">
        <label for="msg">{{ data['task']}}</label>
        <input type="hidden" name="key" value="{{ data['_id'] }}">
        <input type="submit" value="supprimer">
    </form>
    {% endfor %}
</body>

</html>